<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calibrate</title>
    <script>
        function getLastFrame() {
        const frame = document.querySelector('.frame');
        const canvas = document.createElement('canvas');
        const ctx = canvas.getContext('2d');

        canvas.width = frame.width;
        canvas.height = frame.height;
        ctx.drawImage(frame, 0, 0, canvas.width, canvas.height);

        lastFrameData = canvas.toDataURL('image/png');

        fetch('/get_calibration_frame', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ image: lastFrameData })
          })
          .then(response => response.json())
          .then(data => {
            console.log('Frame sent successfully:', data);
            if (data.status === "success") {
              window.location.href = "/proctering_screen";
            }
          })
          .catch(error => {
            console.error('Error sending frame:', error);
          });
        }
    </script>
</head>
<body>
    <span>Welcome to Calibration Screen</span>
    <img src="/calibrate_stream" class="frame" alt="Calibration Video Stream">
    <br><br>
    <button onclick="getLastFrame()">Capture Last Frame</button>
</body>
</html>